<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta http-equiv="cache-control" content="max-age=0, no-store, no-cache, must-revalidate"/>

    <link href="/assets/css/bootstrap.css" rel="stylesheet">

</head>

<body>

<div class="row">

    <div class="col-md-4">
        <h1>Bands</h1>
        <form class="form-inline">
            <div class="form-group">
                <label for="inputBand">Band</label>
                <input type="text" class="form-control" id="inputBand" placeholder="Band Name">
            </div>
            <button type="submit" class="btn btn-default">Add Band</button>
        </form>
        <table class="table table-hover">
            <tr class="success">
                <td>
                    Opeth
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </td>
            </tr>
            <tr>
                <td>
                    Paradise Lost
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </td>
            </tr>
        </table>
            
    </div>

    <div class="col-md-4">
        <h1>Albums</h1>
        <form class="form-inline">
            <div class="form-group">
                <label for="inputAlbum">Album</label>
                <input type="text" class="form-control" id="inputAlbum" placeholder="Album Name">
            </div>
            <button type="submit" class="btn btn-default">Add Album</button>
        </form>

        <table class="table table-hover">
            <tr>
                <td>
                    Heritage
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </td>
            </tr>
            <tr>
                <td class="success">
                    Deliverance
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <h1>Tracks</h1>
        <form class="form-inline">
            <div class="form-group">
                <label for="inputTrack">Track</label>
                <input type="text" class="form-control" id="inputTrack" placeholder="Track Name">
            </div>
            <button type="submit" class="btn btn-default">Add Track</button>
        </form>
        <table class="table table-hover">
            <tr>
                <td>
                    Master's Apprentices
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </td>
            </tr>
        </table>

    </div>

</div>

</body>

</html>
